/***********公共样式  ********/
html,body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin: 0;
    padding:0;
}
html{
    font-size: 26.67vw;
}
body{
    width: 100%;
    height:100%;
    font-family:helvetica, Arial,黑体;
}
a{
    text-decoration:none;
}
img,input{
    border:none;
    display: block;
}
ul,li{
    list-style: none;
}
/***********公共样式结束********/

.header{
    width: 100%;
    height: .466rem;
    background: #393939;

}
.header a{
    height: .466rem;
    line-height:.466rem;
    font-size:.17rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header a img{
    width: .25rem;
    height: .25rem;
    margin: 0 .1rem;
}
/*提醒*/
.title{
    font-size:0.12rem;
    height: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tit{
   display: flex;
    align-items: center;
}
.tit h3{
    font-size:.17rem;
}
.titleLeft{
    margin-left: .1rem;
}
.emeny{
    width: 100%;
    height: .1rem;
    background:#f4f4f4;
}

/*分页器开始*/
.tabs{
    width: 100%;
    height: .45rem;
    display: flex;
    align-items: center;
    border: 2px solid #e5e5e5;
}
.tabs a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:.17rem;
    color: #cccccc;
    height: .45rem;
    line-height: .45rem;
}
.tabs .active {
    font-size:.17rem;
    color: #000000;
    line-height: .45rem;
    border-bottom: 2px solid #000000;
}
/*全部*/
.Orderdetail{
    width:96%;
    margin: 0 2%;
    color: black;
    font-size:.17rem;
}
.Orderdetailtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .3rem;
}

.OrderdetailMid{
    width: 100%;
    height: 1.13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #f8f8f8;
    border-top:1px solid #f8f8f8;
}
.OrderdetailMid .OrderdeLeft{
    width: 20%;
}
.OrderdetailMid .OrderdeMid p{
    color: #000000;
}
.OrderdetailMid .OrderdeMid .life{
    color: #b4b4b4;
}

.OrderdeRight span:nth-of-type(1){
    color: #ce0b23;
    font-size:.2rem;
}
.OrderdeRight span:nth-of-type(2){
    color: #b4b4b4;
}
.Orderdetailtotol{
    height: .4rem;
    width: 100%;
    line-height: .4rem;
    display: flex;
    justify-content: flex-end;
    border-bottom:1px solid #f8f8f8;
    border-top:1px solid #f8f8f8;
}
.Orderdetailtotol span:nth-of-type(2){
    color: #d0021b;
    font-weight: 800;
}
.Orderdelete{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: .48rem;
    border-bottom:1px solid #f8f8f8;
}
.Orderdelete a{
    color: #3c3c3c;
}
.Orderdelete a{
    border: 2px solid #444444;
    border-radius: 5px;
    margin: 0 .1rem;
    padding: .04rem;
}
/*代付款*/
.payment{
    height:100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size:.12rem;
    color: #b4b4b4;
}
.payment img{
    width:1.5rem;
    height: 1.5rem;
    margin-top: .5rem;
}
.payment p{
    margin: .2rem 0;
}
.payment a{
    display: inline-block;
    width: 1rem;
    height: .25rem;
    text-align: center;
    line-height:.25rem;
    border-radius: 5px;
    color:white;
    background: #000000;
}
.content-slide{
    width: 100%;
    height: 100%;
}
.Orderde{
    display: flex;
    justify-content: space-between;
}
.Orderdele a{
    border-radius: 5px;
    margin: 0 .1rem;
    padding: .04rem;
}
.Orderdele a:nth-of-type(1){
    color: #444444;
    border: 2px solid #444444;
}
.Orderdele a:nth-of-type(2){
    color: white;
    background: #d0021b;
}



